<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms</title>
</head>
<body>
    <h1>Punctuations</h1>
    <form action='/result' method='get'>
    <textarea name="text" style="width: 526px; height: 147px;"></textarea>
    <br><br>
    <input type="checkbox" name='Remove_Punctuation' value="Yes"><b>Remove Punctuation</b>
    <input type = 'checkbox' name="capital" value = "Yes"><b>Capitalize</b>
    <br><br>
    <input type="submit" value="Analyse text">
    </form>
</body>
</html>